# Introduction

In [12]:
print('Hello, world!')

Hello, world!

In [ ]:
for i in range(1, 11):
  print(f'value of i is {i}')

## Import pandas and numpy python libraries

In [3]:
import pandas as pd
import numpy as np

In [ ]:
print(pd)
for at in dir(pd):
  if not at.startswith('_'):
    print(at)

## Load the file into a varaible (which is a dataframe)

In [54]:
filename = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data = pd.read_csv(filename, sep='\t')

In [41]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
data.tail()

In [15]:
data.shape

(4622, 5)

In [17]:
print(f'no.of rows={data.shape[0]} and no.of columns is {data.shape[1]}')

no.of rows=4622 and no.of columns is 5

In [ ]:
data.info()

## Get the list of all column names

In [ ]:
data.columns

In [21]:
data.columns[0]

'order_id'

In [24]:
for column in data.columns:
  print(column)

order_id
quantity
item_name
choice_description
item_price

## How's the dataset indexed?

In [23]:
data.index

RangeIndex(start=0, stop=4622, step=1)

## Get the top 3 most ordered item in the dataset?

In [ ]:
data1 = data.groupby('item_name')
data1 = data1.sum()
data1 = data1.sort_values(['quantity'], ascending=False)
data1.head(3)

## What was the most ordered/sold product based on choice_description field?

In [32]:
data.groupby('choice_description') \
.sum() \
.sort_values(['quantity'], ascending=False) \
.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## How many items (total quantity) were sold/ordered?

In [33]:
data.quantity.sum()

4972

## Item count by item_name

In [ ]:
data.item_name.value_counts()

## How many unique items were sold/ordered?

In [39]:
data.item_name.value_counts().count()

50

## How many products cost more than $100?

In [44]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [59]:
# clean the item_price and transform into a float value
prices = [float(price.strip()[1:]) for price in data.item_price]
data.item_price = prices
data.dtypes

In [ ]:
data[data['item_price'] > 10]