## Working with user's occupational data

### Import pandas and load the input file

In [1]:
import pandas as pd

In [2]:
filepath = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_table(filepath, sep='|', index_col='user_id')

In [ ]:
users.head(25)

In [4]:
users.shape

(943, 4)

In [5]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [13]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
users.occupation

### How many unique occupations exist?

In [11]:
users.occupation.nunique()

21

### Which are the unique occupations?

In [ ]:
users.occupation.unique()

### Describe the data in the dataset

In [ ]:
users.describe()

### Describe all possible fields

In [ ]:
users.describe(include = 'all')

### Describe a specific columns

In [16]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [17]:
users.age.describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

### What is the mean age of users?

In [20]:
round(users.age.mean(), 2)

34.05

### Describe multiple selected columns

In [ ]:
users[['occupation', 'zip_code']].describe()

In [ ]:
users[['occupation', 'zip_code']]